/*** Colors ***/
/*** Typography ***/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

main {
  min-height: 100vh;
}

.form {
  margin-top: 64px;
}

.trial-btn-container {
  cursor: pointer;
  margin: 0 auto 24px;
  padding: 18px 66px;
  font-size: 15px;
  line-height: 26px;
  width: 327px;
  text-align: center;
  letter-spacing: 0.267857px;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

a {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
a .bold {
  font-weight: 700;
}

form {
  width: 327px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
form .tos {
  margin: 8px auto;
  height: 42px;
  width: 249px;
}
form .tos p {
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: hsl(246, 25%, 77%);
}
form .tos p span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}
form .input-container {
  margin: 0 auto;
  height: 78px;
}
form input {
  display: block;
  margin: 16px 0 0 0;
  height: 56px;
  width: 279px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  padding: 15px 19px;
}
form input:first-of-type {
  margin-top: 24px;
}
form ::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-align: left;
}
form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-align: left;
  opacity: 1;
}
form ::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-align: left;
  opacity: 1;
}
form :-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-align: left;
}

.submit-btn {
  height: 56px;
  width: 279px;
  background-color: hsl(154, 59%, 51%);
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  margin-top: 30px;
}

.error {
  border: 2px solid hsl(0, 100%, 74%);
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.text {
  display: block;
  font-style: italic;
  font-weight: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: hsl(0, 100%, 74%);
  margin-right: 2px;
  margin-top: 6px;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}
.intro p {
  font-weight: 500;
  line-height: 26px;
}

h1 {
  margin: 95px 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

@media screen and (min-width: 1224px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro, .form {
    flex: 0.5;
  }
  .intro {
    height: 220px;
    width: 525px;
    text-align: left;
  }
  .intro h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    height: 131px;
    width: 525px;
  }
  .intro p {
    height: 78px;
    width: 525px;
    font-weight: 500;
    line-height: 26px;
  }
  .trial-btn-container {
    height: 60px;
    width: 540px;
  }
  form {
    width: 540px;
    height: 474px;
  }
  form input {
    height: 56px;
    width: 460px;
  }
  form .submit-btn {
    height: 56px;
    width: 460px;
  }
  form .tos {
    width: 100%;
  }
  form .tos p {
    height: 26px;
  }
}

/*# sourceMappingURL=styles.css.map */
