/*** Colors ***/

// Primary

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// Accent

$purple: hsl(248, 32%, 49%);

// Neutral

$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);



/*** Typography ***/

$font-body: 16px;
$font-poppins: 'Poppins', sans-serif;


// Font Weights

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;